<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/context/spring-aop.xsd">
<!--开启注解支持-->
    <context:annotation-config/>

    <bean id="cat" class="com.zou.pojo.Cat"/>
    <bean id="cat2" class="com.zou.pojo.Cat"/>
    <bean id="dog222" class="com.zou.pojo.Dog"/>
    <bean id="people" class="com.zou.pojo.People"/>
<!--    &lt;!&ndash;-->
<!--    byName:会自动在容器上下文中查找，和自己对象set方法后面的值对应的 beanid！-->
<!--    byTyoe：会自动在容器上下文中查找，和自己对象属性类型相同的bean！-->
<!--    &ndash;&gt;-->
<!--    <bean id="people" class="com.zou.pojo.People" autowire="byType">-->
<!--        <property name="name" value="邹邹呀"/>-->
<!--&lt;!&ndash;        <property name="dog" ref="dog"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="cat" ref="cat"/>&ndash;&gt;-->
<!--    </bean>-->

</beans>